
<div class="nav-card">
    <ul>
        <li><a href="{{ path('card_start') }}">Home</a></li>
        <li><a href="{{ path('card_deck') }}">Deck</a></li>
        <li><a href="{{ path('card_deck_shuffle') }}">Shuffle Deck</a></li>
        <li><a href="{{ path('card_deck_draw') }}">Draw Deck</a></li>
        <li><a href="{{ path('card_deck_draw_num', {num: 5}) }}">Draw 5 cards</a></li>
        <li><a href="{{ path('card_deck_deal', {num1: 3, num2:4}) }}">Deal (3, 4)</a></li>
    </ul>
</div>