{% extends "base.html.twig" %}

{% block title %}Twenty-One - Playing{% endblock %}

{% block body %}

<h1>British Twenty-One [PLAYING]</h1>

{# <h3>Player {{ currentPlayer}}: {{ points }}</h3>
<h3>Banker: {{bankerPoints }}</h3> #}

{% for key, value in playersPoints %}

    <div class="box">
        <h2>Player {{ key }}</h2>
        <p class="points">{{ value }} points</p>
    </div>

    {# <h3>Player {{ key }} : {{ value }}</h3> #}
{% endfor %}

<h2>Current Player: {{ currentPlayer}}</h2>



{% if (victory != "") %}
    <p class="info">{{ victory }} has won!</p>
    <form method="post" action="">
    <p>
        <input type="submit" name="restart" value="Restart" class="button"
            onClick="this.form.action='{{ path('game_init') }}';this.form.method='get';"
        >
    </p>
    </form>
    
{% else %}
    {% if (bankTurn == false) %}
    <form method="post" action="" class="gameForm">
        <p>
            <input type="submit" name="twist" value="Twist" class="button"
                onClick="this.form.action='{{ path('game_play') }}';"
            >
            <input type="submit" name="stick" value="Stick" class="button"
                onClick="this.form.action='{{ path('game_play') }}';"
            >
            <input type="submit" name="restart" value="Restart" class="button"
                onClick="this.form.action='{{ path('game_init') }}';this.form.method='get';"
            >
        </p>
    </form>
    {% else %}
    <form method="post" action="">
    <p>
         <input type="submit" name="banker" value="Banker's Turn" class="button"
                onClick="this.form.action='{{ path('game_play') }}';"
        >
    </p>
    </form>
    {% endif %}
{% endif %}

<p>{{ bankersDecision }}</p>

{% for card in hand %}
        <span class="card2">{{ card }}</span>
{% endfor %}

{# {{ include('flash.html.twig') }} #}


{% endblock %}