{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}
{% include "library/library_nav.html.twig" %}
<h1>Library</h1>

<p>This is the landing page for our Library!</p>
    <ul>
        <li><a href="{{ path('app_library') }}">Home</a></li>
        <li><a href="{{ path('library_create_get') }}">Add Book</a></li>
        <li><a href="{{ path('library_show_all') }}">Show the entire Library</a></li>
        <li><a href="{{ path('library_by_id', {id: 1}) }}">Book Details (1)</a></li>
        <li><a href="{{ path('library_delete_by_id', {id: 1}) }}">Delete Book (1)</a></li>
        <li><a href="{{ path('library_update', {id: 1, picture:"test"}) }}">Update Book (ID: 1, Picture: Test)</a></li>
    </ul>
{% endblock %}
