
<div class="nav-card">
    <ul>
        <li><a href="{{ path('app_library') }}">Home</a></li>
        <li><a href="{{ path('library_create_get') }}">Add Book</a></li>
        <li><a href="{{ path('library_show_all') }}">Show Library</a></li>
        <li><a href="{{ path('library_by_id', {id: 11}) }}">Book Details (ID: 11)</a></li>
        <li><a href="{{ path('library_delete_by_id_get', {id: 11}) }}">Delete Book (ID: 11)</a></li>
        <li><a href="{{ path('library_update_get', {id: 11}) }}">Update Book (ID: 11)</a></li>
    </ul>
</div>