{% extends 'base.html.twig' %}

{% block title %}Update a Book{% endblock %}

{% block body %}
{% include "library/library_nav.html.twig" %}
<h1>Update {{ title }} ({{id}})</h1>

<p>Please amend the details for the book below:</p>
<div class="form">
    <form method="post" action="">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="{{title}}" required><br>

    <label for="author">Author:</label>
    <input type="text" id="author" name="author" value="{{author}}" required><br>

    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" value="{{isbn}}" required><br>

    <label for="picture">Picture:</label>
    <input type="text" id="picture" name="picture" value="{{picture}}"><br>

    <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
